html,
body {
    width: 100%;
    margin: 0;
    background-color: #2E293B;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Montserrat', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

body {}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: #1e1d2a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    z-index: 1000;
    box-shadow: 0 2px 10px #1e1d2a
}

.logo {
    z-index: 2;
    font-size: 1.6vw;
    font-weight: 1000;
    color: white;
    text-transform: uppercase;
    margin-left: 3rem;
    width: 25vw;
    cursor: default;
}

.separator-nav {
    font-size: 1.8rem;
    font-weight: 1000;
    color: white;
}

nav {
    z-index: 0;
    /* position: absolute; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    /* Cette ligne permet de centrer le nav */
    justify-content: center;
    /* Centre les liens dans le nav */
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2vw;
    transition: color 0.15s ease-in-out;
}

nav a:hover {
    color: #67E8F2;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.button-container {
    z-index: 2;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-btn {
    all: unset;
    /* This removes all default styling */
    cursor: pointer;
    /* Ensures it remains clickable */
    background: linear-gradient(135deg, #00bcd4, #6c5ce7);
    background-size: 200% 200%;
    animation: gradientMove 6s ease infinite;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    margin-right: 3rem;
}

.contact-btn:hover {
    background: linear-gradient(135deg, #0097a7, #4834d4);
    background-size: 200% 200%;
    animation: gradientMove 6s ease infinite;
}



/* Main page */

.main-content-container {
    margin-top: 4rem;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-background {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 30%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 90%);
}

.titles-and-roles {
    margin-top: -5%;
    width: 80%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: white;
    font-size: 5vw;
    text-align: center;
    max-width: 80%;
    font-family: 'Montserrat';
    font-weight: 800;
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.main-title:hover {
    font-weight: 900;
}

.role {
    color: #67E8F2;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bolder;
    margin: 0;
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.role:hover {
    color: #486eb4;
}

h2 {
    margin-top: 2rem;
}

h5 {
    padding-bottom: 5rem;
}

.role:nth-child(2) {
    font-size: 3.5vw;
    opacity: 100%;
}

.role:nth-child(3) {
    font-size: 3vw;
    opacity: 75%;
}

.role:nth-child(4) {
    font-size: 2.5vw;
    opacity: 65%;
}

.role:nth-child(5) {
    font-size: 2vw;
    opacity: 55%;
}

/* mouse wheel animation */

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(60px);
    }
}

svg #wheel {
    animation: scroll ease 2s infinite;
}

/* Work */

.large-centered-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-work-container, .experiences-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-section {
    font-size: 3rem;
    font-weight: 1000;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    cursor: default;
}

.work-list, .experiences-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.work, .experience {
    width: 40vh;
    background-color: #231F2E;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.work:hover, .experience:hover {
    background-color: #191620; /* Un peu plus clair */
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.4); /* Ombre blanche discrète */
    transform: rotateX(0deg) rotateZ(2deg); /* Effet d’inclinaison */
}

.inside-work, .inside-experience {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

.img-work, .img-experience {
    width: calc(100% - 3rem);
    border-radius: 5px;
}

.work-title-line, .experience-title-line {
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.work-data {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

.work-chips, .experience-chips {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    flex-wrap: wrap;
    width: calc(100% - 3rem);
    max-width: calc(100% - 3rem);
}

.chips {
    border-radius: 5rem;
    background-color: #0097a7;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 0.5rem 1rem;
}

.render-chip {
    background-color: #DF4848;
}

.game-chip {
    background-color: #3BAF75;
}

.genre-chip {
    background-color: #AF3B94;
}

.team-chip {
    background-color: #0097a7;
}

.status-chip {
    background-color: #c7681b;
}

/* Experiences */

.experiences-main-container {
    padding-top: 10rem;
}



.experience-data {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.industry-chip {
    background-color: #DF4848;
}

.exp-type-chip {
    background-color: #3BAF75;
}

.time-chip {
    background-color: #0097a7;
}

.experience-short-description {
    width: calc(100% - 3rem);
    max-width: calc(100% - 3rem);
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

/* spacing-temp */

.spacing-temp {
    height: 15rem;
    width: 15rem;
}